.portfolio {
  background-color: rgb(245, 245, 245);
}
.portfolio_h1:before {
  content: "";
  left: 0;
  position: absolute;
  height: 3px;
  right: 20%;
  background-color: #ff6b6b;
  bottom: -5px;
}

.portfolio_h1 {
  display: inline-block;
  margin: 0px 0px 0px 30px;
  position: relative;
}

.portfolio_img {
  width: 100vw;
  height: 20rem;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.text--hover {
  font-size: 1.2em;
  font-weight: 600;
  padding: 10px;
}

@media (min-width: 740px) {
  .portfolio_img {
    height: 35rem;
    padding: 10px;
  }
}

@media (min-width: 1200px) {
  .portfolio_block {
    display: flex;
    flex-wrap: wrap;
  }
  .portfolio_block_img {
    margin: 0 auto;
    height: 30rem;
  }
  .portfolio_block_img:hover .portfolio_img {
    opacity: 0.4;
    transform: translateY(-5px);
  }

  .portfolio_img {
    transition: 1s ease;
    width: 30vw;
    height: 25rem;
    padding: 0px;
  }

  .portfolio_block_img:hover:hover .portofolio_text--hover {
    opacity: 1;
  }
  .portofolio_text--hover {
    transition: 1s ease;
    opacity: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 60%;
  }

  .text--hover {
    width: 30vw;
    font-size: 1.5em;
    font-weight: 600;
    padding: 3px;
    color: black;
  }
}
