.footer {
  background-color: black;
  li,
  h1 {
    color: white;
  }

  ul {
    margin-bottom: 0rem !important;
  }
  .coll {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contain {
    height: 8rem;
    display: flex;
    justify-content: center;
    .coll ul {
      list-style: none;
    }
    .social ul {
      display: flex;
    }
  }
}
