*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 15px;
  height: 0;
  opacity: 0;
  background: linear-gradient(to top, #ff8800, #ff0000);
  z-index: 1;
}

.clickScrollbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 15px;
  height: 100%;
  background: rgba(170, 170, 170, 0.356);
  z-index: 1;
}
